.App {
  text-align: center;
}

.App-logo {
  align-items: left;
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
nav{
  display: inline-flex;
  justify-content: space-around;
  align-content: left;
  min-height: 10vh;
  background-color: white;
}
